%html
  %head
    %title Tasman
  %body
    %div
      %p
      %h2
        Abel is travelling:
      %p
        From Batavia to Mauritius
      %a{href: "/version"}
        Check current version
      %hr
    %div
      %img{src: "images/tasman3.gif"}
